/**
 * Library Name: User profile framework for WordPress
 * Library URI: https://github.com/ramphor/user-profile
 * Author: Puleeno Nguyen
 * Author URI: https://puleeno.com
 * Version: 1.0.0.69
 */

.ramphor-user-profile .my-profile-inner {
    position: relative;
}

.ramphor-user-profile .my-profile-section + .my-profile-section {
    margin-top: 20px;
}

.ramphor-user-profile .my-profile-sidebar {
    width: 260px;
    background-color: var(--color-primary-light);
    margin-top: 10px;
}

.ramphor-user-profile .my-profile-sidebar a {
    display: block;
    padding: 8px 0;
    color: var(--color-sidebar-text);
}

.ramphor-user-profile .my-profile-sidebar .active a {
    background-color: var(--color-sidebar-menu-selected-background);
}

body.admin-bar .ramphor-user-profile.fixed-sidebar .my-profile-sidebar {
    padding-top: 90px;
}

.ramphor-user-profile.fixed-sidebar .my-profile-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
}

.layout__secondary {
    color: var(--color-sidebar-text);
}

.ramphor-user-profile.fixed-sidebar .profile-feature-content-wrapper {
    padding-left: 260px;
}

.ramphor-user-profile .feature-content, .ramphor-user-profile .my-profile-header-blocks {
    padding: 20px;
}

.ramphor-user-profile .profile-avatar {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.ramphor-user-profile .profile-avatar .avatar {
    border-radius: 50%;
    overflow: hidden;
}

.ramphor-user-profile .my-profile-menu-wrap {
    padding-bottom: 20px;
}

.ramphor-user-profile .profile__settings .basic-info {
    display: flex;
    width: 100%;
}

.ramphor-user-profile .basic-info .edit-name {
    flex: 1;
    margin-left: 20px;
}

.ramphor-user-profile .profile__settings .basic-info .edit-avatar {

}

.ramphor-user-profile input, .ramphor-user-profile textarea {
    width: 100%;
    padding: 5px 10px;
    border-radius: 3px;
}

.ramphor-user-profile button {
    padding: 10px;
}

.ramphor-user-profile .button-primary {
    background-color: #007053;
    border-color: #007053;
    color: #fff;
    margin-top: 15px;
}

@media(min-width: 980px) {
    .ramphor-user-profile .feature-content {
        width: calc(100% - 100px);
    }
}

@media(min-width: 1200px) {
    .ramphor-user-profile .feature-content {
        width: 80%;
    }
}


/************************************************************************
 * Start Schemes Styling
 ************************************************************************/
.scheme-aquatic {
    --color-primary: #02395c;
    --color-primary-light: #055d9c;
    --color-masterbar-background:#02395c;
    --color-masterbar-border: #02395c;
    --color-masterbar-text: #fff;
    --color-sidebar-menu-selected-background: #f0c930;
    --color-text: #2c3338;
    --color-sidebar-text: #fff;
}

/************************************************************************
 * End Schemes Styling
 ************************************************************************/